.cardsContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
}
.pokemonCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border: solid 2px yellow;
    width: 28%;
    height: 28%;
}
.pokemonCards img {
    height: 80%;
    width: 80%;
}