.expandedCardContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.692);
  z-index: 9999;
}

.expandedCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
  height: 90vh;
  border-radius: 8px;
  padding: 5px;
  position: relative;
}

.expandedCard h2 {
  font-size: 2rem;
  font-weight: 900;
  color: white;
}

.id {
  color: white;
}

.expandedCard img {
  width: 50%;
}

.expandedCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 80px;
  margin-top: 20px;
}

.expandedCardHeader h2 {
  margin: 0;
}

.expandedCardHeader div {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.closeButton img {
  width: 2rem;
  height: 2rem;
}

.imagePosition {
  width: 100%;
  height: 50%;
}

.pokemonPhoto {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 17%;
  left: 25%;
}

.navButtonLeft {
  position: absolute;
  top: 30%;
  left: 10%;
}

.navButtonRight {
  position: absolute;
  top: 30%;
  right: 10%;
}

.navigationButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.navButton {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 24px;
  padding: 5px;
}

.navButton img {
  width: 20px;
  height: 20px;
}

.infoContainer {
  display: flex;
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.stats {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.statsLi {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
  height: 160px;
}

.statBarFull {
  background-color: rgba(2, 100, 2, 0.527);
  width: 50%;
  height: 20px;
}

.statBar {
  height: 20px;
  background-color: rgb(0, 58, 0);
}

.liStats {
  display: flex;
  width: 100%;
  justify-content: center;
}

li p {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}

.specs {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.type {
  width: 85px;
  display: flex;
  justify-content: center;
  border-radius: 10px;

}
.types {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  

}


@media (max-width: 425px) {
  .expandedCard {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    padding: 10px;
  }

  .stats {
    height: 225px;
    width: 100%;
  }

  .pokemonPhoto {
    height: 200px;
    position: absolute;
    top: 20%;
    left: 25%;
  }

  .statsLi {
    margin: 10px 0px 10px 0px;
  }
  .infoContainer {
    padding: 0;
  }
  .statsLi {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
  }
}