.expandedCardContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.expandedCard {
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  position: relative;
}

.expandedCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.expandedCardHeader h2 {
  margin: 0;
}

.closeButton {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}
