header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
}
.headNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    height: 100px;
    display: flex;
    flex-direction: row;
}

nav h1 {
    font-size: 40px;
}
nav input {
    width: 95vw;
    margin-top: 10px;
    height: 30px;
}